body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100vh;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

@font-face {
  font-family: "Cuddly";
  src: url("../font/CuteNCuddly.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  src: url("../font/OpenSans.ttf") format("truetype");
}
