
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: #0c1445;
}
h1 {
  position: absolute;
  color: white;
  font-size: 3em;
  z-index: 1;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

#turtlePlanet {
  position: absolute;
  width: 80px; /* radius */
  height: 80px; /* radius */
  top: 50%; /* vertical position */
  left: 45%; /* horizontal */
  transform: translate(-50%, -50%); /*  */
  transition: all 2s ease; /* animation */
}

#rabbitPlanet{
  position: absolute;
  width: 103px; 
  height: 65px; 
  top: 30%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  transition: all 2s ease;
}

#penguinPlanet{
  position: absolute;
  width: 130px; 
  height: 130px; 
  top: 55%;
  left: 60%;
  transform: translate(-50%, -50%);
  transition: all 2s ease;
}