#canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: #0c1445;
}

h1 {
  position: absolute;
  color: white;
  font-size: 3em;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#turtlePlanet {
  position: absolute;
  width: 0px; /* radius */
  height: 0px; /* radius */
  top: -82%; /* vertical position */
  left: 52%; /* horizontal */
  transform: translate(-50%, -50%); /*  */
  transition: all 1.5s ease; /* animation */
  animation: turtleAnimation 5s infinite ease-in-out;
}

@keyframes turtleAnimation {
  0%,
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-15px);
  }
}

#rabbitPlanet {
  position: absolute;
  width: 0px;
  height: 0px;
  top: -70%;
  left: 63%;
  transform: translate(-50%, -50%);
  transition: all 1.5s ease;
  animation: rabbitAnimation 4s infinite ease-in-out;
}

@keyframes rabbitAnimation {
  0%,
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateY(10px);
  }
}

#penguinPlanet {
  position: absolute;
  width: 0px;
  height: 0px;
  top: -100%;
  left: 35%;
  transform: translate(-50%, -50%);
  transition: all 1.5s ease;
  animation: penguinAnimation 6s infinite ease-in-out;
}

@keyframes penguinAnimation {
  0%,
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-20px);
  }
}

#introWindow {
  position: absolute;
  width: 400px;
  height: 500px;
  top: -60%;
  left: 36%;
  transform: translate(0%, 0%);
  transition: all 1s ease;
  pointer-events: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

#closeButton {
  width: 320px;
  height: 60px;
  margin-left: 40px;
  margin-bottom: 30px;
  margin-top: 10px;
  border-radius: 30px;
  pointer-events: auto;
  background-color: #f5909b;
  border: none;
  font-size: 20px;
  font-family: "OpenSans";
  cursor: pointer;
}

#closeButton:hover {
  background-color: #ec622b;
}

#desc {
  padding: 0px 40px;
  font-family: "OpenSans";
}

#title {
  padding: 25px 40px 0px 40px;
  font-size: 36px;
  text-align: center;
  font-family: "Cuddly";
}
