#canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: #0c1445;
}
h1 {
  position: absolute;
  color: white;
  font-size: 3em;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#turtlePlanet {
  position: absolute;
  width: 0px; /* radius */
  height: 0px; /* radius */
  top: -82%; /* vertical position */
  left: 52%; /* horizontal */
  transform: translate(-50%, -50%); /*  */
  transition: all 1.5s ease; /* animation */
}

#rabbitPlanet {
  position: absolute;
  width: 0px;
  height: 0px;
  top: -70%;
  left: 63%;
  transform: translate(-50%, -50%);
  transition: all 1.5s ease;
}

#penguinPlanet {
  position: absolute;
  width: 0px;
  height: 0px;
  top: -100%;
  left: 38%;
  transform: translate(-50%, -50%);
  transition: all 1.5s ease;
}

#introWindow {
  position: absolute;
  color: white;
  width: 400px;
  height: 500px;
  top: -60%;
  left: 36%;
  transform: translate(0%, 0%);
  transition: all 1s ease;
}

#closeButton {
  position: absolute;
  width: 100px;
  height: 40px;
  top: 450px;
  left: 150px;
  border-radius: 20px;
}
